@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.ttf');
}

html {
    scroll-behavior: smooth;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

body{
    background-color: #eadc83;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: 'tahoma';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav{
    align-self: start;
    margin-top: 7.5px;
    margin-left: 7.5px;
}

nav img{
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

nav a{
    text-decoration: none;
}

div.logo{
    display: flex;
}

div.logo img{
    position: relative;
    right: 18px;
    width: 192px;
    height: 192px;
}

#lacinho{
    width: 32px;
    height: 39px;
    position: relative;
    left: 16.5px;
    top: 147px;
}

div.menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin-top: 9.6px;
    margin-bottom: 9.6px;
}

div.menu ul li{    
    background-color: #8bd6fe;
    border-radius: 25px;
    width: 192px;   
    padding: 6.4px 48px;
    margin-top: 5px;
    margin-bottom: 5px;
}


ul a{      
    font-size: 15px;
    text-decoration: none;
    color:black;
    font-weight: bolder;
}

footer{    
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

footer a{
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    margin: auto 5px;
    padding: 1.6px 40px;
    color:black;
    font-weight: bolder;
    background-color: #8bd6fe;
    border-radius: 25px;
    width: 20vw;     
}

#voltar a{
    top: 8px;
    left: 8px;
    position: absolute;
    color: #f6f9f4;
    background-color: #8bd6fe;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* @media screen and (min-height: 480px) { */
@media screen{
    #voltar a{
        top: 1.666666667vh;
        left: 1.666666667vh;
        padding: 0.833333333vh 2.083333333vh;
        border-radius: 6.25vh;
        font-size: 4.166666667vh;
    }

    #lacinho{
        width: 6.875vh;
        height: 8.125vh;
        left: 3.4375vh;
        top: 30.625vh;
    }
    div.logo img{
        right: 3.75vh;
        width: 40vh;
        height: 40vh;
    }
    nav{
        margin-top: 1.5625vh;
        margin-left: 1.5625vh;
    }
    nav img{
        height: 6.25vh;
        width: 6.25vh;
    }
    div.menu ul{
        margin: 2vh 0;
    }
    ul a{      
        font-size: 3.125vh;
    }
    div.menu ul li{
        margin-top: 1.041666667vh;
        margin-bottom: 1.041666667vh;
        border-radius: 5.208333333vh;
        padding: 1.333333333vh 10vh;
        width: 40vh;
    }
    footer{
        width: 62.5vh;
        margin-top: 1.041666667vh;
        margin-bottom: 3.125vh;    
    }
    footer a{
        font-size: 2.708333333vh;
        margin: auto 1.041666667vh;
        padding: 0.333333333vh 8.333333333vh;
        border-radius: 5.208333333vh;
    }
}

/* @media screen and (min-height: 480px) and (max-aspect-ratio: 320/480){ */
@media screen and (max-aspect-ratio: 320/480){
    #voltar a{
        top: 2.5vw;
        left: 2.5vw;
        padding: 1.25vw 3.125vw;
        border-radius: 9.375vw;
        font-size: 6.25vw;
    }

    #lacinho{
        width: 10vw;
        height: 12.1875vw;
        left: 5.15625vw;
        top: 45.9375vw;
    }
    div.logo img{
        right: 5.625vw;
        width: 60vw;
        height: 60vw;
    }
    nav{
        margin-top: 2.34375vw;
        margin-left: 2.34375vw;
    }
    nav img{
        height: 9.375vw;
        width: 9.375vw;
    }
    div.menu ul{
        margin: 3vh 0;
    }
    ul a{
        font-size: 4.6875vw;
    }
    div.menu ul li{
        margin-top: 1.5625vw;
        margin-bottom: 1.5625vw;
        border-radius: 7.8125vw;
        padding: 2vw 15vw;
        width: 60vw;
    }
    footer{
        width: 93.75vw;
        margin-top: 1.5625vw;
        margin-bottom: 4.6875vw;    
    }
    footer a{
        font-size: 4.0625vw;
        margin: auto 1.5625vw;
        padding: 0.5vw 12.5vw;
        border-radius: 7.8125vw;
    }
}