@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.ttf');
    }
body{
    background-color: #eadc83;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'tahoma';
    color: #f6f9f4;
    display: flex;
    justify-content: space-between;
    flex-wrap: row wrap;
    flex-direction: column;
    align-items: center;
}

.title, .alternatives-item, .voltar, .green, .red, .questio, #button{
    padding: .4rem 1.2rem;   
    border-radius: 25px;
    font-size: 9px;
    font-weight: 400;
    margin: auto 9.5px;
}

.alternatives{
  width: 100vw;
}

.alternatives-item, .red, .green{
  transition: background-color .3s;
  padding: .4rem .6rem;   
  border-radius: 10px;
  font-size: 7px;
}

.voltar{
  margin: 0;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #8bd6fe;
  text-decoration: none;
  color: #f6f9f4;
  border-radius: 25px;
  font-size: 11px;
  padding: .2rem .6rem;   
  font-weight: 400;
}

.questio{
    padding: .2rem .6rem;       
    margin-top: 10vh;
    margin-bottom: 0px;
    background-color: #4a7434;
    font-size: 12px;
    font-weight: bold;
    
}
.title{
    width: calc(100vw - 19px - 38.4px);
    background-color: #ffb226;
    margin: 12px 9.5px;
}
.alternatives-item, .green, .red{
    margin-bottom: 10px;
}
.alternatives-item{
    background-color: #177db5;
}
.green {
    background-color: #416e2b;
}
.red {
  background-color: #f91222;
}

.alternatives-item:hover {
  cursor: pointer;
}
  
.hidden, button{
  display: none;
}
#tempo, #total{
  display: none;
  color: black;
  align-self: flex-end;
  
}
.show{
  display: unset;
}
#button{
  border-radius: 25px;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 400;
  background-color: #68d430;
  color: white;
  font-weight: bold;
  font-family: inherit;
  border: 0;
  margin: 0;
}
#button-box{
  width: 78.172px;
  height: 30px;
  margin: 10px auto;
}
#finaltime, #pointtemp{
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
#finaltime{
  top: 8px;
  right: 8px;
}
#pointtemp{
  opacity: 0;
  top: 27px;
  right: 8px;
  transition: all .5s;
}

@media screen and (min-height: 320px){
  .voltar{
    top: 2.5vh;
    left: 2.5vh;
    font-size: 3.4375vh;
    padding: 1vh 3vh;
    border-radius: 7.8125vh;
  }
  .questio{
    margin-top: 10vh;
    font-size: 3.75vh;
    padding: 1vh 3vh;
    border-radius: 7.8125vh;
  }
  .title{
    font-size: 2.8125vh;
    padding: 2vh 6vh;
    margin: 3.75vh 2.96875vh;
    width: calc(100vw - 17.9375vh);
    border-radius: 7.8125vh;
  }
  .alternatives-item,.green,.red{
    font-size: 2.1875vh;
    border-radius: 3.125vh;
    padding: 2vh 3vh;
    margin: auto 2.96875vh;
    margin-bottom: 3.125vh;    
  }
  #button-box{
    width: 24.42875vh;
    height: 9.375vh;
    margin: 3.125vh auto;
  }
  #button{
    border-radius: 7.8125vh;
    padding: 1.875vh 3.75vh;
    font-size: 4.0625vh;
  }
  #finaltime, #pointtemp{
    font-size: 3.75vh;
  }
  #finaltime{
    top: 2.5vh;
    right: 2.5vh;
  }
  #pointtemp{
    top: 8.4375vh;
    right: 2.5vh;
  }  
}
@media screen and (min-height: 320px) and (max-aspect-ratio: 208/320){
  .voltar{
    top: 3.846153846vw;
    left: 3.846153846vw;
    font-size: 5.288461538vw;
    padding: 1.538461538vw 4.615384615vw;
    border-radius: 12.019230769vw;
  }
  .questio{
    margin-top: 15.384615385vw;
    font-size: 5.769230769vw;
    padding: 1.538461538vw 4.615384615vw;
    border-radius: 12.019230769vw;
  }
  .title{
    font-size: 4.326923077vw;
    padding: 3.076923077vw 9.230769231vw;
    margin: 5.769230769vw 4.567307692vw;
    width: calc(100vw - 27.596153847vw);
    border-radius: 12.019230769vw;
  }
  .alternatives-item,.green,.red{
    font-size: 3.365384615vw;
    border-radius: 4.807692308vw;
    padding: 3.076923077vw 4.615384615vw;
    margin: auto 4.567307692vw;
    margin-bottom: 4.807692308vw;
  }
  #button-box{
    width: 37.582692308vw;
    height: 14.423076923vw;
    margin: 4.807692308vw auto;
  }
  #button{
    border-radius: 12.019230769vw;
    padding: 2.884615385vw 5.769230769vw;
    font-size: 6.25vw;
  }
  #finaltime, #pointtemp{
    font-size: 5vw;
  }
  #finaltime{
    top: 3.333333333vw;
    right: 3.333333333vw;
  }
  #pointtemp{
    top: 11.25vw;
    right: 3.333333333vw;
  }  
}
