body{
    padding: 100px;
    background-color: rgb(0, 0, 0,  0.15);
}

.balao{
    background-color: #8bd6fe;
    padding: 10px;
    position: relative;
    width: 0 auto;
    border-radius: 20px;    
}

.balao:before{
    content: '';
    position: absolute;
    background-color:  #8bd6fe;
    top: 30px;
    width: 35px;
    height: 25px;
    right: -10px;
    -webkit-transform: rotate(45deg);
    border-radius: 5%;

}