@font-face{
    font-family: 'Tahoma';
    src: url('../../fonts/Tahoma.ttf');
}

body{
    background-color: #eadc83;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: 'tahoma';
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

main{
    display: inherit;
    align-items: center;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

#voltar a{
    top: 8px;
    left: 8px;
    position: absolute;
    color: #f6f9f4;
    background-color: #8bd6fe;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#titulo{
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: #2e5d15;
    align-self: flex-start;
    margin-top: 48px;
}

#titulo-login{
    font: bold 30px 'tahoma';
    box-sizing: border-box;
    margin: 60px auto;
    color: #f6f9f4;
    text-align: center;
}

#logo{
    align-self: center;
    align-items: center;
}

#logo img{
    width: 128px;
}

#formulario {
    width: 222.56px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #8bd6fe;
    border: 0px;
    border-radius: 60px;
    margin: auto 80px;
}

input{
    border: 0px;
    border-bottom: 1px solid black;
    background-color: #8bd6fe;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

input::placeholder{
    font-weight: bold;
    opacity: 1;
    color: grey;
}

form{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    position: relative;
}

#formulario a{
    align-self: flex-end;
    text-decoration: none;
    color: #f6f9f4;
    margin-right: 50px;
    margin-top: -20px;
    font-size: 12px;
}

form img {
    height: 24px;
    z-index: 999;
    margin-bottom: -32px;
    margin-left: -10px;
}

.google-button {
    padding: 0;
    width: fit-content;
    height: 0;
    background-color: transparent;
}

.google-button img {
    margin: 0;
}

form button{
    border: 0px;
    background-color: lightcoral;
    padding: 10px;
    border-radius: 25px;
}

#Form_Login-Google {
    margin: 8px 40px 40px 40px;
}

#Form_Register-Google{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 32px 16px;
}

#Form_Register-Google img{
    height: 50px;
    margin-top: 10px;
}

#Form_Register-Google button{
    border: 0px;
    background-color: #8bd6fe;
}

input {
    font-size: 13.3333px;
    border-bottom: 1px solid black;
}

/* vh - 480 / vw 320  */

/* @media screen and (min-height: 480px) { */ 
@media screen {
    #voltar a{
        top: 1.6666666666666667vh;
        left: 1.6666666666666667vh;
        padding: 0.8333333333333334vh 2.0833333333333335vh;
        border-radius: 6.25vh;
        font-size: 4.166666666666667vh;
    }
    
    #titulo{
        height: 10.416666666666666vh;
        margin-top: 10vh;
    }
    
    #titulo-login{
        font: bold 6.25vh'tahoma';
        margin: 12.5vh auto;
    }

    #logo img{
        width: 26.666666666666668vh;
    }
    
    #formulario {
        width: 46.36666666666667vh;
        border-radius: 12.5vh;
        margin: auto 16.666666666666668vh;
    }
    
    input{
        border-bottom: 0.20833333333333334vh solid black;
        margin: 2.0833333333333335vh;
    }
    
    form{
        margin: 8.333333333333334vh;
    }
    
    #formulario a{
        margin-right: 10.416666666666666vh;
        margin-top: -4.166666666666667vh;
        font-size: 2.5vh;
    }
    
    form img {
        height: 5vh;
        margin-bottom: -6.666666666666667vh;
        margin-left: -2.0833333333333335vh;
    }
    
    form button{
        padding: 2.0833333333333335vh;
        border-radius: 5.208333333333333vh;
        font-size: 2.5vh;
    }
    
    #Form_Login-Google {
        margin: 1.6666666666666667vh 8.333333333333334vh 8.333333333333334vh 8.333333333333334vh;
    }
    
    #Form_Register-Google{
        margin: 6.666666666666667vh 3.3333333333333335vh;
    }
    
    #Form_Register-Google img{
        height: 10.416666666666666vh;
        margin-top: 12.0833333333333335vh;
    }

    input {
        font-size: 2.7777708333333333vh;
        border-bottom: 0.20833333333333334vh solid black;
        margin: 2.0833333333333335vh;
    }
}

/* @media screen and (min-height: 480px) and (max-aspect-ratio: 320/480){ */
@media screen and (max-aspect-ratio: 320/480) {
    #voltar a {
        top: 2.5vw;
        left: 2.5vw;
        padding: 1.25vw 3.125vw;
        border-radius: 9.375vw;
        font-size: 6.25vw;
    }
    
    #titulo {
    
        height: 15.625vw;
        margin-top: 15vw;
    }
    
    #titulo-login {
        font: bold 9.375vw 'tahoma';
        margin: 18.75vw auto;
    }

    #logo img {
        width: 40vw;
    }
    
    #formulario {
        width: 69.55vw;
        border-radius: 18.75vw;
        margin: auto 25vw;
    }
    
    input {
        font-size: 4.16665625vw;
        border-bottom: 0.3125vw solid black;
        margin: 3.125vw;
    }
    
    form {
        margin: 12.5vw;
    }
    
    #formulario a {
        margin-right: 15.625vw;
        margin-top: -6.25vw;
        font-size: 3.75vw;
    }
    
    form img {
        height: 7.5vw;
        margin-bottom: -10vw;
        margin-left: -3.125vw;
    }
    
    form button {
        padding: 3.125vw;
        border-radius: 7.8125vw;
        font-size: 3.75vw;
    }
    
    #Form_Login-Google {
        margin: 2.5vw 12.5vw 12.5vw 12.5vw;
    }
    
    #Form_Register-Google {
        margin: 3.125vw 5vw;
    }
    
    #Form_Register-Google img {
        height: 15.625vw;
        margin-top: 3.125vw;
    }
}