body{
    background-color: #eadc83;
}

h1,h3{
    text-align: center;
}

p{
    margin-left: 50px;
}

#voltar a{
    top: 8px;
    left: 8px;
    position: absolute;
    color: #f6f9f4;
    background-color: #8bd6fe;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}