@font-face{
    font-family: 'Tahoma';
    src: url('../../../fonts/Tahoma.ttf');
}
body{
    background-color: #eadc83;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: 'tahoma';
    display: flex;
    flex-direction: column;
}
nav{
    height: 50px;
}
nav#voltar a{
    color: #f6f9f4;
    background-color: #8bd6fe;
    padding: .5rem;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
#miscellaneous{
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
}
#miscellaneous #mer{
    display: inherit;
}
#thor{
    position: absolute;
    left: 25px;
    top: 43px;
    z-index: 1;
}
#loki{
    position: absolute;
    top: 43px;
    right: 10px;
    z-index: 1;
}
img#medal{
    position: absolute;
    top: 57px;
    left: 10px;
    height: 37px;
    z-index: 2;
}
img#coin{
    position: absolute;
    top: 52px;
    right: 65px;
    z-index: 2;
    height: 42px;
}
#miscellaneous p{
    background-color: #8bd6fe;
    border-radius: 35px;
    font-weight: bold;
    padding: 4px 30px 4px 40px;
    height: fit-content;
}
#mar{
    margin-right: 40px;
    display: inherit;
}
.tema{
    background-color: #2e5d15;
    color: #f6f9f4;
    text-align: center;
}
#tema{
    font-size: 35px;
    padding: 10px;
    font-weight: bold;
    margin: 0px;
}
.medio{
    display: inherit;
    justify-content: space-evenly;
    flex-direction: column;
    align-self: center;
    text-align: center;
    height: 400px;
}
.choice a{
    background-color: #ffb226;
    color: #f6f9f4;
    padding: 1rem;
    border-radius: 30px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
.choice{
    height: 10px;
}
#aumenta{
    padding: 1rem 4.3rem;
}