@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.ttf');
}

body{
    width: 100vw;
    height: 100vh;    
    background-color: #eadc83;
    font-family: Tahoma, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

nav#voltar a{
    color: #f6f9f4;
    background-color: #8bd6fe;
    padding: .2rem;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#miscellaneous{ 
    display: flex;   
    flex-direction: row;       
    justify-content: space-between;
    height: 50px;
    margin: 10px 0;
}
#mer, #mar{
    display: flex;
    flex-direction: row;
    margin: 0;
}
#thor{
    position: relative;
    right: 13px;
    bottom:10px;
    z-index: -1;
}
#loki,{
    position: relative;
    bottom: 10px;
    right: 25px;
    z-index: -1;
}
img#medal, .optionStore div img{
    height: 37px;    
}
img#coin{
    height: 42px;
}
#chest{
    height: 57px; 
}
#miscellaneous p, .optionStore p{
    background-color: #8bd6fe;
    border-radius: 35px;
    font-weight: bold;
    padding: 4px 30px 4px 40px;
    height: fit-content;
}

#logo{
    display: flex;     
    justify-content: center;    
    position: relative;
    bottom: 20px;
}

#logo img{       
    height: 150px;  
}

.titulo{
    width: 100vw;       
    position: relative;
    bottom: 65px;
    height: 50px;    
    background-color: #2e5d15;
}

.titulo p{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 5px 0px 0px 0px;
}

.optionStore{
    margin-top: 0px;
}

.optionStore div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;    
}

.optionStore a, p{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

#bau{  
    height: 120px;
}

